header {
 
  img {
    height: 4vh;
  }
  height: 10vh;
  width: 100vw; 
  background:white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 1;
}
.main-page{
    display: flex;
    justify-content: center;
    align-items: center;
      }
.position {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $Grey-Dark;
  height: 7vh;
  i {
    padding-right: 2vh;
  }
}
.decouverte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6vh 5vw 8vh 5vw;
  background: $Grey;

  h1 {
    text-align: center;
    margin-bottom: 2vh;
  }
  p {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 1.1rem;
  }
}
.fonctionnement {
  display: flex;
  width: 90vw;
  flex-direction: column;
  padding: 7vh 5vw 6vh 5vw;
  h2 {
    margin-bottom: 4vh;
  }
}
.select-card {
  display: flex;
  background: $Grey;
  border-radius: 20px;
  padding: 27px 20px;
  margin: 0 0 3vh 0;
  cursor:default;
  transition: 0.3s ease-in-out;
  .round {
    position: relative;
    left: -4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: $Purple;
    border-radius: 100%;
    color: white;
    font-size: 13px;
  }
  i {
    margin-right: 20px;
    opacity:0.6;
    font-size: 20px;
    transition: 0.3s ease-in-out;
  }
  h5 {
    position: relative;
    top: 2px;
  }
  .fa-list-ul {
    transform: scaleX(0.9);
  }
  .fa-store {
    transform: scaleX(0.8);
  }
  &:hover,&:active {
    transition: 0.3s ease-in-out;
    background-color: $Purple-light;
    i {
      transition: 0.3s ease-in-out;
      color: $Purple;
      opacity: 1;
    }
  }
}
.restaurants {
  width: 100vw;
  background: $Grey;
  padding: 7vh 0;

  h2 {
    padding-left: 4vw;
  }
  p {
    font-size: 1.05rem;
  }
}
.restaurats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 3vh 0 0 0;
}
.restaurant-card {
  width: 90vw;
  height: 36vh;
  border-radius: 15px;
  background: white;
  margin-bottom: 2vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  img{
    transition: 0.4s ease-in-out;
 }
  &:hover{
      img{
          transition: 0.4s ease-in-out;
          filter:brightness(1.1);
      }
      transition: 0.2s ease-in-out;
      box-shadow: rgba(149, 157, 165, 0.4) 2px 10px 26px;
  }
}
.restaurant-img {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 25vh;
  border-radius: 15px 15px 0 0;
flex-direction: row-reverse;
  p {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    right: 1.5rem;
    background: $Blue-Green;
    color: #008765cb;
    padding: 0.8vh 2.5vw;
    border-radius: 2px;
    font-size: 0.9rem;
    font-weight: 600;
  }
}
.restaurant-card-footer {
  display: flex;
  position :relative;
  height: 6vh;
  justify-content: space-between;
  align-items:center;
  padding: 2vh 6vw 1vh 4vw;
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } 
  i {
    align-self: center;
   
    font-size: 24px; 
  }
  .fas {
    display: none;
    font-size: 24px; 
  }
 
}
.hover-icon {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    
}
.custom-label-hearth{
  position: absolute;
  height: 25px;
  width: 25px;
  
  background: transparent;
  z-index: 10;
  
  cursor: pointer;
 
}
#toggle-hearth1:checked ~ .r1,#toggle-hearth2:checked ~ .r2,#toggle-hearth3:checked ~ .r3,#toggle-hearth4:checked ~ .r4{
    
  .far{
      position:absolute;
       z-index : 0;
       animation :animateBg 0.7s linear normal forwards;
       background: linear-gradient(
           180deg,
           $Black , $Black,transparent,transparent
         );
         background-size: 100% 400%;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
       }
   
   .fas{
       display: inline;
       
       z-index:1;
       animation :animateBg 0.7s linear normal forwards;
       background: linear-gradient(
           180deg,transparent,transparent,transparent,transparent,
           rgb(146, 86, 220) ,
           rgba(255, 121, 218, 1) 
         );
         background-size: 100% 600%;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
       }
   
}
#toggle-hearth1:not(checked) ~ .r1,#toggle-hearth2:not(checked) ~ .r2,#toggle-hearth3:not(checked) ~ .r3,#toggle-hearth4:not(checked) ~ .r4{
  
  .far{
      position:absolute;
       z-index : 0;
       animation :animateNoBg 0.7s linear normal forwards;
       background: linear-gradient(
           180deg,
           $Black , $Black,transparent,transparent
         );
         background-size: 100% 400%;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
       }
   
   .fas{
       display: inline;
       
       z-index:1;
       animation :animateNoBg 0.7s linear normal forwards;
       background: linear-gradient(
           180deg,transparent,transparent,transparent,transparent,
           rgb(146, 86, 220) ,
           rgba(255, 121, 218, 1) 
         );
         background-size: 100% 600%;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
       }
   
}
.restaurant-a {
  img {
    position: absolute;
    top: -8vh;
    left: -2vw;
    width: 93vw;
    z-index: 0;
  }
}

.restaurant-b {
  img {
    position: absolute;
    top: -22vh;
    left: 0vw;
    width: 90vw;
    z-index: 0;
  }
}
.restaurant-c {
  img {
    position: absolute;
    top: -8vh;
    left: -2vw;
    width: 95vw;
    z-index: 0;
  }
}
.restaurant-d {
  img {
    position: absolute;
    top: -8vh;
    left: -2vw;
    width: 93vw;
    z-index: 0;
  }
}
footer {
  height: 20vh;
  width: 95vw;
  padding: 4vh 0vw 4vh 5vw;

  color: white;
  background: $Black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  .fa-utensils {
    font-size: 0.8rem;
    margin-right: 10px;
  }
  .fa-hands-helping {
    font-size: 0.7rem;
    margin-right: 7px;
  }
  svg path {
    fill: white;
  }
}
.footer-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14vh;
}


@keyframes animateBg {
    from { background-position: 0% 0%; }
    to { background-position: 0% 100%; }
  }
  @keyframes animateNoBg {
    from { background-position: 0% 100%; }
    to { background-position: 0% 0%; }
  }

/*LOADER*/

main{
    opacity : 0;
    height:100vh;
    overflow: hidden;
    animation :animateMain 3s linear normal forwards;
}
#loader{
    position : absolute;
    color:$Purple;
    width:50px;
    height:50px;
    font-size: 50px;
    left :45%;
    top:45%;
    transform-origin: 20px;
    animation :animateSpinner 2s linear normal forwards;
}
@keyframes animateSpinner {
    0% { 
        transform: rotate(0deg); 
        color:$Purple;
    }
    25% {  
        transform: rotate(360deg); 
        color:$Pink;
    }
    50% {
        transform: rotate(720deg);
        color:$Blue-Green 
    }
    75% {
        transform: rotate(1080deg); 
        color:$Purple;
        opacity: 1;
        }
    100%{
        transform: rotate(1420deg); 
        color:$Pink;
        opacity: 0;
    }
  }
@keyframes animateMain {
    0% {
        opacity: 0;
    }
    75% {   
        opacity: 0; 
        height : 100vh;
    }
    100%{
        height :100%; 
        opacity: 1;
    }
  }